/* Cards */
.card {
  height: 125px;
  width: 100px;
}

.player-cards {
  display: flex;
  justify-content: center;
}

.card-wrapper {
  width: 30px;
  height: 30px;
}

.card-wrapper:last-of-type {
  width: initial;
  height: initial;
}
